*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    display: flex;
    flex-basis: 100%;
}

.flexBasis{
    display: flex;
    flex-basis: 20%;
    background-color: red;
    padding-top: 1%;
    padding-left: 2%;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.bi-folder-fill{
    color: rgb(206, 166, 65);
    margin-right: 4px;
}


.leftSideCon {
    display: flex;
    flex-direction: column;
}

.subdirectories {
margin-left: 20%;
}

/* Midle Container*/
.middleFlex{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-top: 1%;
    padding-left: 2%;
}


