*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    display: flex;
    flex-basis: 100%;
}

.flexBasis{
    display: flex;
    flex-basis: 20%;
    background-color: red;
}
.middleFlex{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.leftSideCon {
    display: flex;
    flex-direction: column;
}

.subdirectories {
margin-left: 20%;
}
